# This buildout is used for development of dataflake.fakeldap.
# It gets the necessary eggs and creates a test runner and a python
# interpreter.

[buildout]
develop = .
parts = 
    test
    coverage
    tox
    sphinx
    docbuilder
    pdfbuilder


[test]
recipe = zc.recipe.testrunner
defaults = ['-cv']
eggs = dataflake.fakeldap

[coverage]
recipe = zc.recipe.testrunner
defaults = ['--coverage=parts/coverage']
eggs = dataflake.fakeldap

[tox]
recipe = zc.recipe.egg
eggs = tox

[sphinx]
recipe = zc.recipe.egg
eggs =  
    dataflake.fakeldap[docs]
dependent-scripts = true
scripts =
    sphinx-build
    rst2
interpreter = docpy

[docbuilder]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    # Build the Sphinx documentation in one step
    export PATH="${buildout:bin-directory}:$PATH"
    cd "${buildout:directory}/docs"
    make clean
    make html
output = ${buildout:bin-directory}/docbuilder.sh
mode = 755

[pdfbuilder]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    # Build the Sphinx documentation as PDF in one step
    export PATH="${buildout:bin-directory}:$PATH"
    cd "${buildout:directory}/docs"
    make latex
    cd _build/latex
    make all-pdf
    cp dataflake.fakeldap.pdf ../html/
output = ${buildout:bin-directory}/pdfbuilder.sh
mode = 755
